HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.attach_pid13069

### Front ###
src/main/front/.DS_Store
/src/main/front/.thumbs.db
/src/main/front/node_modules

# Quasar core related directories
/src/main/front/.quasar
/src/main/front/dist

# Cordova related directories and files
/src/main/front/src-cordova/node_modules
/src/main/front/src-cordova/platforms
/src/main/front/src-cordova/plugins
/src/main/front/src-cordova/www

# Capacitor related directories and files
/src/main/front/src-capacitor/www
/src/main/front/src-capacitor/node_modules

# BEX related directories and files
/src/main/front/src-bex/www
/src/main/front/src-bex/js/core

# Log files
/src/main/front/npm-debug.log*
/src/main/front/yarn-debug.log*
/src/main/front/yarn-error.log*

/src/main/front/yarn.lock

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln